[MASTER]
ignore=venv,tests
init-hook='import sys; sys.path.append(r"c:\\Users\\acer\\OneDrive\\Desktop\\myproject")'

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    C0103,
    R0903,
    W0718

[FORMAT]
max-line-length=100